*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  
  text-align: center;
}
.intro{
  background-color: #000000e3;
  color: white;
  
  
}
  
  

  .intro h1{
    margin: 50px 0px 30px 0px;
    font-size: 67px;
  }

  .intro p{
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
  }


  .cloud1, .cloud2, .cloud3{
    max-width: 148px;
    height:68px ;
  }
.cloud1{
  margin-top: 25px;
}

.cloud2{
  position: absolute;
  left: 20px;
}

.cloud3{
  position: absolute;
  right: 100px;
  bottom: 50px;

}
  .folder{
    max-width: 598px;
    height: 357px;
  

  }

  /*************************************************/


.perfil img{
  margin-top: 40px;
  width: 20%;
  border-radius: 500px;

}

.perfil h2{
  margin-top: 10px;
}

.perfil p{
  max-width: 500px;
  margin: 30px auto;
}

/*************************************************************/

.info{
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.skills img{
  width: 25%;
  
}

.about{
  max-width: 50%;
  
  margin: 70px auto 0px auto;
  border: 1px solid black;
}

.about h3, p{
  text-align: justify;
  line-height: 2;
}

.img1{
float: left;
margin-right: 30px;
}

.img2{
  float: right;
  margin-left: 30px;
  width: 15%;
  }