*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  
  text-align: center;
}
.intro{
  background-color: #000000e3;
  color: white;
  
  
}
  
  

  .intro h1{
    margin: 50px 0px 30px 0px;
    font-size: 67px;
  }

  .intro p{
    font-size: 20px;
    margin-bottom: 30px;
  }

  .cloud1, .cloud2, .cloud3{
    max-width: 148px;
    height:68px ;
  }
.cloud1{
  margin-top: 25px;
}

.cloud2{
  position: absolute;
  left: 20px;
}

.cloud3{
  position: absolute;
  right: 100px;
  bottom: 50px;

}
  .folder{
    max-width: 598px;
    height: 357px;
  

  }

  /*************************************************/


.perfil img{
  margin-top: 40px;
  width: 20%;
  border-radius: 500px;

}

.perfil h2{
  margin-top: 10px;
}

.perfil p{
  max-width: 500px;
  margin: 30px auto;
}

/*************************************************************/

.info{
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.ab1 p{
  text-align: justify;

  width: 500px;
}

.img1{
  width: 18%;
  float:left;
  margin-right: 30px;
 
}


